.v-modal-enter {
    animation: v-modal-in .2s ease
}

.v-modal-leave {
    animation: v-modal-out .2s ease forwards
}

@keyframes v-modal-in {
    0% {
        opacity: 0
    }
}

@keyframes v-modal-out {
    to {
        opacity: 0
    }
}

.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000
}

.el-popup-parent--hidden {
    overflow: hidden
}

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 50%
}

.el-dialog.is-fullscreen {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto
}

.el-dialog__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0
}

.el-dialog__header {
    padding: 20px 20px 10px
}

.el-dialog__headerbtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px
}

.el-dialog__headerbtn .el-dialog__close {
    color: #909399
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: #409eff
}

.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #303133
}

.el-dialog__body {
    padding: 30px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all
}

.el-dialog__footer {
    padding: 10px 20px 20px;
    text-align: right;
    box-sizing: border-box
}

.el-dialog--center {
    text-align: center
}

.el-dialog--center .el-dialog__body {
    text-align: initial;
    padding: 25px 25px 30px
}

.el-dialog--center .el-dialog__footer {
    text-align: inherit
}

.dialog-fade-enter-active {
    animation: dialog-fade-in .3s
}

.dialog-fade-leave-active {
    animation: dialog-fade-out .3s
}

@keyframes dialog-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }

    to {
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes dialog-fade-out {
    0% {
        transform: translateZ(0);
        opacity: 1
    }

    to {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

@font-face {
    font-family: element-icons;
    src: url(/fonts/vendor/element-theme-chalk/src/element-icons.woff?535877f50039c0cb49a6196a5b7517cd) format("woff"), url(/fonts/vendor/element-theme-chalk/src/element-icons.ttf?732389ded34cb9c52dd88271f1345af9) format("truetype");
    font-weight: 400;
    font-display: "auto";
    font-style: normal
}

[class*=" el-icon-"],
[class^=el-icon-] {
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-icon-ice-cream-round:before {
    content: "\E6A0"
}

.el-icon-ice-cream-square:before {
    content: "\E6A3"
}

.el-icon-lollipop:before {
    content: "\E6A4"
}

.el-icon-potato-strips:before {
    content: "\E6A5"
}

.el-icon-milk-tea:before {
    content: "\E6A6"
}

.el-icon-ice-drink:before {
    content: "\E6A7"
}

.el-icon-ice-tea:before {
    content: "\E6A9"
}

.el-icon-coffee:before {
    content: "\E6AA"
}

.el-icon-orange:before {
    content: "\E6AB"
}

.el-icon-pear:before {
    content: "\E6AC"
}

.el-icon-apple:before {
    content: "\E6AD"
}

.el-icon-cherry:before {
    content: "\E6AE"
}

.el-icon-watermelon:before {
    content: "\E6AF"
}

.el-icon-grape:before {
    content: "\E6B0"
}

.el-icon-refrigerator:before {
    content: "\E6B1"
}

.el-icon-goblet-square-full:before {
    content: "\E6B2"
}

.el-icon-goblet-square:before {
    content: "\E6B3"
}

.el-icon-goblet-full:before {
    content: "\E6B4"
}

.el-icon-goblet:before {
    content: "\E6B5"
}

.el-icon-cold-drink:before {
    content: "\E6B6"
}

.el-icon-coffee-cup:before {
    content: "\E6B8"
}

.el-icon-water-cup:before {
    content: "\E6B9"
}

.el-icon-hot-water:before {
    content: "\E6BA"
}

.el-icon-ice-cream:before {
    content: "\E6BB"
}

.el-icon-dessert:before {
    content: "\E6BC"
}

.el-icon-sugar:before {
    content: "\E6BD"
}

.el-icon-tableware:before {
    content: "\E6BE"
}

.el-icon-burger:before {
    content: "\E6BF"
}

.el-icon-knife-fork:before {
    content: "\E6C1"
}

.el-icon-fork-spoon:before {
    content: "\E6C2"
}

.el-icon-chicken:before {
    content: "\E6C3"
}

.el-icon-food:before {
    content: "\E6C4"
}

.el-icon-dish-1:before {
    content: "\E6C5"
}

.el-icon-dish:before {
    content: "\E6C6"
}

.el-icon-moon-night:before {
    content: "\E6EE"
}

.el-icon-moon:before {
    content: "\E6F0"
}

.el-icon-cloudy-and-sunny:before {
    content: "\E6F1"
}

.el-icon-partly-cloudy:before {
    content: "\E6F2"
}

.el-icon-cloudy:before {
    content: "\E6F3"
}

.el-icon-sunny:before {
    content: "\E6F6"
}

.el-icon-sunset:before {
    content: "\E6F7"
}

.el-icon-sunrise-1:before {
    content: "\E6F8"
}

.el-icon-sunrise:before {
    content: "\E6F9"
}

.el-icon-heavy-rain:before {
    content: "\E6FA"
}

.el-icon-lightning:before {
    content: "\E6FB"
}

.el-icon-light-rain:before {
    content: "\E6FC"
}

.el-icon-wind-power:before {
    content: "\E6FD"
}

.el-icon-baseball:before {
    content: "\E712"
}

.el-icon-soccer:before {
    content: "\E713"
}

.el-icon-football:before {
    content: "\E715"
}

.el-icon-basketball:before {
    content: "\E716"
}

.el-icon-ship:before {
    content: "\E73F"
}

.el-icon-truck:before {
    content: "\E740"
}

.el-icon-bicycle:before {
    content: "\E741"
}

.el-icon-mobile-phone:before {
    content: "\E6D3"
}

.el-icon-service:before {
    content: "\E6D4"
}

.el-icon-key:before {
    content: "\E6E2"
}

.el-icon-unlock:before {
    content: "\E6E4"
}

.el-icon-lock:before {
    content: "\E6E5"
}

.el-icon-watch:before {
    content: "\E6FE"
}

.el-icon-watch-1:before {
    content: "\E6FF"
}

.el-icon-timer:before {
    content: "\E702"
}

.el-icon-alarm-clock:before {
    content: "\E703"
}

.el-icon-map-location:before {
    content: "\E704"
}

.el-icon-delete-location:before {
    content: "\E705"
}

.el-icon-add-location:before {
    content: "\E706"
}

.el-icon-location-information:before {
    content: "\E707"
}

.el-icon-location-outline:before {
    content: "\E708"
}

.el-icon-location:before {
    content: "\E79E"
}

.el-icon-place:before {
    content: "\E709"
}

.el-icon-discover:before {
    content: "\E70A"
}

.el-icon-first-aid-kit:before {
    content: "\E70B"
}

.el-icon-trophy-1:before {
    content: "\E70C"
}

.el-icon-trophy:before {
    content: "\E70D"
}

.el-icon-medal:before {
    content: "\E70E"
}

.el-icon-medal-1:before {
    content: "\E70F"
}

.el-icon-stopwatch:before {
    content: "\E710"
}

.el-icon-mic:before {
    content: "\E711"
}

.el-icon-copy-document:before {
    content: "\E718"
}

.el-icon-full-screen:before {
    content: "\E719"
}

.el-icon-switch-button:before {
    content: "\E71B"
}

.el-icon-aim:before {
    content: "\E71C"
}

.el-icon-crop:before {
    content: "\E71D"
}

.el-icon-odometer:before {
    content: "\E71E"
}

.el-icon-time:before {
    content: "\E71F"
}

.el-icon-bangzhu:before {
    content: "\E724"
}

.el-icon-close-notification:before {
    content: "\E726"
}

.el-icon-microphone:before {
    content: "\E727"
}

.el-icon-turn-off-microphone:before {
    content: "\E728"
}

.el-icon-position:before {
    content: "\E729"
}

.el-icon-postcard:before {
    content: "\E72A"
}

.el-icon-message:before {
    content: "\E72B"
}

.el-icon-chat-line-square:before {
    content: "\E72D"
}

.el-icon-chat-dot-square:before {
    content: "\E72E"
}

.el-icon-chat-dot-round:before {
    content: "\E72F"
}

.el-icon-chat-square:before {
    content: "\E730"
}

.el-icon-chat-line-round:before {
    content: "\E731"
}

.el-icon-chat-round:before {
    content: "\E732"
}

.el-icon-set-up:before {
    content: "\E733"
}

.el-icon-turn-off:before {
    content: "\E734"
}

.el-icon-open:before {
    content: "\E735"
}

.el-icon-connection:before {
    content: "\E736"
}

.el-icon-link:before {
    content: "\E737"
}

.el-icon-cpu:before {
    content: "\E738"
}

.el-icon-thumb:before {
    content: "\E739"
}

.el-icon-female:before {
    content: "\E73A"
}

.el-icon-male:before {
    content: "\E73B"
}

.el-icon-guide:before {
    content: "\E73C"
}

.el-icon-news:before {
    content: "\E73E"
}

.el-icon-price-tag:before {
    content: "\E744"
}

.el-icon-discount:before {
    content: "\E745"
}

.el-icon-wallet:before {
    content: "\E747"
}

.el-icon-coin:before {
    content: "\E748"
}

.el-icon-money:before {
    content: "\E749"
}

.el-icon-bank-card:before {
    content: "\E74A"
}

.el-icon-box:before {
    content: "\E74B"
}

.el-icon-present:before {
    content: "\E74C"
}

.el-icon-sell:before {
    content: "\E6D5"
}

.el-icon-sold-out:before {
    content: "\E6D6"
}

.el-icon-shopping-bag-2:before {
    content: "\E74D"
}

.el-icon-shopping-bag-1:before {
    content: "\E74E"
}

.el-icon-shopping-cart-2:before {
    content: "\E74F"
}

.el-icon-shopping-cart-1:before {
    content: "\E750"
}

.el-icon-shopping-cart-full:before {
    content: "\E751"
}

.el-icon-smoking:before {
    content: "\E752"
}

.el-icon-no-smoking:before {
    content: "\E753"
}

.el-icon-house:before {
    content: "\E754"
}

.el-icon-table-lamp:before {
    content: "\E755"
}

.el-icon-school:before {
    content: "\E756"
}

.el-icon-office-building:before {
    content: "\E757"
}

.el-icon-toilet-paper:before {
    content: "\E758"
}

.el-icon-notebook-2:before {
    content: "\E759"
}

.el-icon-notebook-1:before {
    content: "\E75A"
}

.el-icon-files:before {
    content: "\E75B"
}

.el-icon-collection:before {
    content: "\E75C"
}

.el-icon-receiving:before {
    content: "\E75D"
}

.el-icon-suitcase-1:before {
    content: "\E760"
}

.el-icon-suitcase:before {
    content: "\E761"
}

.el-icon-film:before {
    content: "\E763"
}

.el-icon-collection-tag:before {
    content: "\E765"
}

.el-icon-data-analysis:before {
    content: "\E766"
}

.el-icon-pie-chart:before {
    content: "\E767"
}

.el-icon-data-board:before {
    content: "\E768"
}

.el-icon-data-line:before {
    content: "\E76D"
}

.el-icon-reading:before {
    content: "\E769"
}

.el-icon-magic-stick:before {
    content: "\E76A"
}

.el-icon-coordinate:before {
    content: "\E76B"
}

.el-icon-mouse:before {
    content: "\E76C"
}

.el-icon-brush:before {
    content: "\E76E"
}

.el-icon-headset:before {
    content: "\E76F"
}

.el-icon-umbrella:before {
    content: "\E770"
}

.el-icon-scissors:before {
    content: "\E771"
}

.el-icon-mobile:before {
    content: "\E773"
}

.el-icon-attract:before {
    content: "\E774"
}

.el-icon-monitor:before {
    content: "\E775"
}

.el-icon-search:before {
    content: "\E778"
}

.el-icon-takeaway-box:before {
    content: "\E77A"
}

.el-icon-paperclip:before {
    content: "\E77D"
}

.el-icon-printer:before {
    content: "\E77E"
}

.el-icon-document-add:before {
    content: "\E782"
}

.el-icon-document:before {
    content: "\E785"
}

.el-icon-document-checked:before {
    content: "\E786"
}

.el-icon-document-copy:before {
    content: "\E787"
}

.el-icon-document-delete:before {
    content: "\E788"
}

.el-icon-document-remove:before {
    content: "\E789"
}

.el-icon-tickets:before {
    content: "\E78B"
}

.el-icon-folder-checked:before {
    content: "\E77F"
}

.el-icon-folder-delete:before {
    content: "\E780"
}

.el-icon-folder-remove:before {
    content: "\E781"
}

.el-icon-folder-add:before {
    content: "\E783"
}

.el-icon-folder-opened:before {
    content: "\E784"
}

.el-icon-folder:before {
    content: "\E78A"
}

.el-icon-edit-outline:before {
    content: "\E764"
}

.el-icon-edit:before {
    content: "\E78C"
}

.el-icon-date:before {
    content: "\E78E"
}

.el-icon-c-scale-to-original:before {
    content: "\E7C6"
}

.el-icon-view:before {
    content: "\E6CE"
}

.el-icon-loading:before {
    content: "\E6CF"
}

.el-icon-rank:before {
    content: "\E6D1"
}

.el-icon-sort-down:before {
    content: "\E7C4"
}

.el-icon-sort-up:before {
    content: "\E7C5"
}

.el-icon-sort:before {
    content: "\E6D2"
}

.el-icon-finished:before {
    content: "\E6CD"
}

.el-icon-refresh-left:before {
    content: "\E6C7"
}

.el-icon-refresh-right:before {
    content: "\E6C8"
}

.el-icon-refresh:before {
    content: "\E6D0"
}

.el-icon-video-play:before {
    content: "\E7C0"
}

.el-icon-video-pause:before {
    content: "\E7C1"
}

.el-icon-d-arrow-right:before {
    content: "\E6DC"
}

.el-icon-d-arrow-left:before {
    content: "\E6DD"
}

.el-icon-arrow-up:before {
    content: "\E6E1"
}

.el-icon-arrow-down:before {
    content: "\E6DF"
}

.el-icon-arrow-right:before {
    content: "\E6E0"
}

.el-icon-arrow-left:before {
    content: "\E6DE"
}

.el-icon-top-right:before {
    content: "\E6E7"
}

.el-icon-top-left:before {
    content: "\E6E8"
}

.el-icon-top:before {
    content: "\E6E6"
}

.el-icon-bottom:before {
    content: "\E6EB"
}

.el-icon-right:before {
    content: "\E6E9"
}

.el-icon-back:before {
    content: "\E6EA"
}

.el-icon-bottom-right:before {
    content: "\E6EC"
}

.el-icon-bottom-left:before {
    content: "\E6ED"
}

.el-icon-caret-top:before {
    content: "\E78F"
}

.el-icon-caret-bottom:before {
    content: "\E790"
}

.el-icon-caret-right:before {
    content: "\E791"
}

.el-icon-caret-left:before {
    content: "\E792"
}

.el-icon-d-caret:before {
    content: "\E79A"
}

.el-icon-share:before {
    content: "\E793"
}

.el-icon-menu:before {
    content: "\E798"
}

.el-icon-s-grid:before {
    content: "\E7A6"
}

.el-icon-s-check:before {
    content: "\E7A7"
}

.el-icon-s-data:before {
    content: "\E7A8"
}

.el-icon-s-opportunity:before {
    content: "\E7AA"
}

.el-icon-s-custom:before {
    content: "\E7AB"
}

.el-icon-s-claim:before {
    content: "\E7AD"
}

.el-icon-s-finance:before {
    content: "\E7AE"
}

.el-icon-s-comment:before {
    content: "\E7AF"
}

.el-icon-s-flag:before {
    content: "\E7B0"
}

.el-icon-s-marketing:before {
    content: "\E7B1"
}

.el-icon-s-shop:before {
    content: "\E7B4"
}

.el-icon-s-open:before {
    content: "\E7B5"
}

.el-icon-s-management:before {
    content: "\E7B6"
}

.el-icon-s-ticket:before {
    content: "\E7B7"
}

.el-icon-s-release:before {
    content: "\E7B8"
}

.el-icon-s-home:before {
    content: "\E7B9"
}

.el-icon-s-promotion:before {
    content: "\E7BA"
}

.el-icon-s-operation:before {
    content: "\E7BB"
}

.el-icon-s-unfold:before {
    content: "\E7BC"
}

.el-icon-s-fold:before {
    content: "\E7A9"
}

.el-icon-s-platform:before {
    content: "\E7BD"
}

.el-icon-s-order:before {
    content: "\E7BE"
}

.el-icon-s-cooperation:before {
    content: "\E7BF"
}

.el-icon-bell:before {
    content: "\E725"
}

.el-icon-message-solid:before {
    content: "\E799"
}

.el-icon-video-camera:before {
    content: "\E772"
}

.el-icon-video-camera-solid:before {
    content: "\E796"
}

.el-icon-camera:before {
    content: "\E779"
}

.el-icon-camera-solid:before {
    content: "\E79B"
}

.el-icon-download:before {
    content: "\E77C"
}

.el-icon-upload2:before {
    content: "\E77B"
}

.el-icon-upload:before {
    content: "\E7C3"
}

.el-icon-picture-outline-round:before {
    content: "\E75F"
}

.el-icon-picture-outline:before {
    content: "\E75E"
}

.el-icon-picture:before {
    content: "\E79F"
}

.el-icon-close:before {
    content: "\E6DB"
}

.el-icon-check:before {
    content: "\E6DA"
}

.el-icon-plus:before {
    content: "\E6D9"
}

.el-icon-minus:before {
    content: "\E6D8"
}

.el-icon-help:before {
    content: "\E73D"
}

.el-icon-s-help:before {
    content: "\E7B3"
}

.el-icon-circle-close:before {
    content: "\E78D"
}

.el-icon-circle-check:before {
    content: "\E720"
}

.el-icon-circle-plus-outline:before {
    content: "\E723"
}

.el-icon-remove-outline:before {
    content: "\E722"
}

.el-icon-zoom-out:before {
    content: "\E776"
}

.el-icon-zoom-in:before {
    content: "\E777"
}

.el-icon-error:before {
    content: "\E79D"
}

.el-icon-success:before {
    content: "\E79C"
}

.el-icon-circle-plus:before {
    content: "\E7A0"
}

.el-icon-remove:before {
    content: "\E7A2"
}

.el-icon-info:before {
    content: "\E7A1"
}

.el-icon-question:before {
    content: "\E7A4"
}

.el-icon-warning-outline:before {
    content: "\E6C9"
}

.el-icon-warning:before {
    content: "\E7A3"
}

.el-icon-goods:before {
    content: "\E7C2"
}

.el-icon-s-goods:before {
    content: "\E7B2"
}

.el-icon-star-off:before {
    content: "\E717"
}

.el-icon-star-on:before {
    content: "\E797"
}

.el-icon-more-outline:before {
    content: "\E6CC"
}

.el-icon-more:before {
    content: "\E794"
}

.el-icon-phone-outline:before {
    content: "\E6CB"
}

.el-icon-phone:before {
    content: "\E795"
}

.el-icon-user:before {
    content: "\E6E3"
}

.el-icon-user-solid:before {
    content: "\E7A5"
}

.el-icon-setting:before {
    content: "\E6CA"
}

.el-icon-s-tools:before {
    content: "\E7AC"
}

.el-icon-delete:before {
    content: "\E6D7"
}

.el-icon-delete-solid:before {
    content: "\E7C9"
}

.el-icon-eleme:before {
    content: "\E7C7"
}

.el-icon-platform-eleme:before {
    content: "\E7CA"
}

.el-icon-loading {
    animation: rotating 2s linear infinite
}

.el-icon--right {
    margin-left: 5px
}

.el-icon--left {
    margin-right: 5px
}

@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    to {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    to {
        box-shadow: inset 0 0 0 30px #fff
    }
}

a:hover {
    text-decoration: none
}

body {
    font-family: Kanit, sans-serif;
    color: #4a4a4a;
    margin: 0;
    padding: 0
}

body>div {
    overflow-x: hidden
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0
}

.btn {
    background-color: #12a6ad;
    border: 1px solid transparent;
    border-radius: 36px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    min-width: 10rem;
    padding: .375rem 0;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle
}

.btn:hover {
    box-shadow: none;
    text-decoration: none;
    border-color: #0f878d;
    background-color: #109096
}

.btn.active,
.btn:focus {
    outline-color: #12a6ad;
    text-decoration: none;
    box-shadow: none
}

.btn.blue {
    background-color: #28677d;
    border-color: #28677d
}

.btn.blue:hover {
    border-color: #1f5162;
    background-color: #22576a
}

.btn.light-blue {
    background-color: #12a6ad;
    border-color: #12a6ad
}

.btn.light-blue:hover {
    border-color: #0f878d;
    background-color: #109096
}

.checkmark {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #12a6ad;
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #12a6ad;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    float: left;
    margin-right: 1rem
}

.checkmark.cm-white {
    stroke: #28677d;
    stroke-width: 4;
    box-shadow: inset 0 0 0 #fff
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #12a6ad;
    fill: none;
    animation: stroke .6s cubic-bezier(.65, 0, .45, 1) forwards
}

.checkmark__circle.cm-white {
    stroke: #fff
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(.65, 0, .45, 1) .8s forwards
}

.logo {
    color: #fff;
    display: inline-block;
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none
}

.lm-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.lm-menu__mask {
    display: none;
}

.lm-menu .lm-menu__item {
    flex-grow: 1;
    height: 38px;
    line-height: 50px;
    margin: 0 .8rem;
    padding: 0 .2rem
}

.lm-menu .lm-menu__item:not(:first-child) {
    text-align: center
}

.lm-menu .lm-menu__item.underline {
    border-bottom: 1px solid #fff
}

.lm-menu .lm-menu__item.hover-underline {
    font-size: 1rem;
    font-weight: 300
}

.lm-menu .lm-menu__item.hover-underline:hover:not(.underline) {
    border-bottom: 1px solid #fff;
    margin-bottom: -1px
}

.lm-menu .lm-menu__left {
    box-sizing: border-box;
    display: flex;
    background-color: #3d3d3d;
    padding: 2rem 0 2rem 4rem;
    width: 50%
}

.lm-menu .lm-menu__left .lm-menu__item:first-child {
    margin-left: 0;
    padding-left: 0
}

.imgfor {

    margin-left: 0rem;
    display: block;
    width: 85%;
    height: 70px;
    margin-right: 9.2rem;
}

.lm-menu .lm-menu__left .lm-menu__left__inner {
    display: flex;
    width: 20rem
}



.lm-menu .lm-menu__right {
    box-sizing: border-box;
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem 2rem 0;
    width: 50%
}

.lm-menu .lm-menu__right .lm-menu__item:last-child {
    margin-right: 0;
    padding-right: 0
}

.lm-menu .lm-menu__right .lm-menu__right__inner {
    display: flex;
    align-items: center
}

.lm-menu .lm-menu__right .lm-menu__right__inner .btn-contact {
    background-color: #3d3d3d;
    border: 1px solid #fff
}

.lm-menu .lm-menu__right .lm-menu__right__inner .hover-underline:hover {
    border-bottom: 1px solid #000
}

.lm-menu .lm-menu__right .lm-menu__right__inner .hover-underline a {
    color: #000
}

.lm-menu .lm-menu__right.lm-menu__right--gray {
    background-color: #3d3d3d
}

.lm-menu .lm-menu__right.lm-menu__right--gray .hover-underline:hover {
    border-bottom: 1px solid #fff
}

.lm-menu .lm-menu__right.lm-menu__right--gray .hover-underline a {
    color: #fff
}

.lm-menu.lm-menu--footer .lm-menu__left__inner {
    width: 33rem
}

.lm-menu.lm-menu--footer .lm-menu__right {
    background-color: #3d3d3d
}

.lm-menu .lm-menu__burger {
    display: none;
}

.lm-menu a {
    color: #fff;
    text-decoration: none
}

@media (max-width:950px) {
    .lm-menu .lm-menu__left {
        padding-left: 2.4rem
    }

    .lm-menu {
        width: 27rem;
    }

    .lm-menu .lm-menu__right {
        background-color: #3d3d3d;
        padding-right: 4.6rem
    }

    .lm-menu .lm-menu__right .lm-menu__right__inner {
        display: none;
    }

    .lm-menu .lm-menu__right .lm-menu__right__inner .hover-underline:hover {
        border-bottom: 1px solid #fff
    }

    .lm-menu .lm-menu__right .lm-menu__right__inner .hover-underline a {
        color: #fff
    }

    .lm-menu .lm-menu__burger {
        display: block;
        color: #fff;
        cursor: pointer;
        background-color: #12a6ad;
        border-radius: 50%;
        font-size: 1.3rem;
        padding: .7rem .75rem
    }

    .lm-menu .lm-menu__mask {
        background-color: rgba(61, 61, 61, .99);
        box-sizing: border-box;
        height: 100%;
        padding: 30vh 0;
        position: fixed;
        width: 100%;
        z-index: 4
    }

    .lm-menu .lm-menu__mask .lm-menu__mask__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    .lm-menu .lm-menu__mask .lm-menu__burger {
        padding: .7rem .8rem;
        position: absolute;
        top: 2rem;
        right: 2rem
    }

    .lm-menu.lm-menu--footer {
        flex-direction: column;
        width: auto;
    }

    .lm-menu.lm-menu--footer .lm-menu__left {
        margin: 0 auto;
        padding-left: 0;
        padding-bottom: 0;
        width: 100%
    }

    .lm-menu.lm-menu--footer .lm-menu__left .lm-menu__left__inner {
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
        text-align: center
    }

    .lm-menu.lm-menu--footer .lm-menu__left .lm-menu__left__inner .lm-menu__item {
        margin-bottom: 1rem
    }

    .lm-menu.lm-menu--footer .lm-menu__left .lm-menu__left__inner .lm-menu__item:first-child {
        margin: 0
    }

    .lm-menu.lm-menu--footer .lm-menu__left .lm-menu__left__inner .logo-header {
        padding-bottom: 1rem;
        padding-right: 0
    }

    .lm-menu.lm-menu--footer .lm-menu__right {
        width: 100%;
        padding: 1rem 0 2.5rem
    }

    .lm-menu.lm-menu--footer .lm-menu__right .lm-menu__right__inner {
        margin: 0 auto
    }

    .lm-menu.lm-menu--footer .lm-menu__right .lm-menu__right__inner .lm-menu__item:first-child {
        margin: 0
    }

    .lm-menu.lm-menu--footer .lm-menu__item.hover-underline:hover {
        margin-bottom: calc(1rem - 1px)
    }
}

.lm-hero {
    height: 35rem;
    margin-bottom: 8rem;
    position: relative
}

.lm-hero .lm-hero__left {
    background-color: #3d3d3d;
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 4rem;
    width: 50%;
    height: 100%
}

.lm-hero .lm-hero__left .lm-hero__header {
    color: #fff;
    margin: .5rem 0 3.5rem;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.2;
    max-width: 25rem
}

.lm-hero .lm-hero__left .lm-hero__image {
    position: absolute;
    right: 3%;
    top: 6%;
    width: 44rem
}

.lm-hero .lm-hero__left .lm-hero__buttons {
    display: flex;
    font-weight: 300
}

.lm-hero .lm-hero__left .lm-hero__buttons .btn-video {
    height: 2rem;
    background: transparent;
    text-decoration: underline
}

.lm-hero .lm-hero__left .lm-hero__buttons .btn-video:focus {
    outline: none
}

.lm-hero .lm-hero__left .lm-hero__buttons .btn-video:hover {
    border-color: transparent;
    text-decoration: underline
}

.lm-hero .lm-hero__left .lm-hero__buttons .el-icon-video-play {
    padding-left: .5rem
}

@media (max-width:1100px) {
    .lm-hero .lm-hero__left .lm-hero__header {
        font-size: 2.8rem
    }

    .lm-hero .lm-hero__left .lm-hero__buttons {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 10rem
    }
}

@media (max-width:950px) {
    .lm-hero .lm-hero__left {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem;
        width: 100%
    }

    .lm-hero .lm-hero__left .lm-hero__header {
        font-size: 2.8rem;
        margin-bottom: 2.5rem;
        max-width: 45rem;
        text-align: center
    }

    .lm-hero .lm-hero__left .lm-hero__buttons {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2.5rem
    }

    .lm-hero .lm-hero__left .lm-hero__image {
        position: unset;
        max-width: 31rem;
        min-width: 21rem;
        width: 64vw
    }
}

.lm-why {
    margin-bottom: 4rem;
    padding: 0 4rem;
    text-align: center
}

.lm-why .lm-why__header {
    color: #12a6ad;
    font-size: 3.8rem;
    line-height: 1.1;
    margin: 2.1rem 0
}

.lm-why .lm-why__subheader {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 56rem
}

@media (max-width:950px) {
    .lm-why {
        padding: 0 2rem
    }

    .lm-why .lm-why__header {
        font-size: 2.8rem;
        margin: 1.4rem 0
    }

    .lm-why .lm-why__subheader {
        font-size: 1.3rem
    }

    .lm-overview__description {
        display: none;
    }

    .lm-overview .lm-overview__left {
        display: none;
    }

    .lm-growth .lm-growth__inner {
        margin-top: 19rem;
    }
}

.lm-overview {
    display: flex;
    padding: 0 4rem;
    margin: 0 auto 11rem;
    max-width: 80rem
}

.lm-overview .lm-overview__left {
    width: 20rem;
    padding-right: 3rem
}

.lm-overview .lm-overview__left .lm-overview__tab {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 1rem;
    padding-left: 1.6rem
}

.lm-overview .lm-overview__left .lm-overview__tab.selected {
    border-left: 8px solid #12a6ad;
    padding-left: 1rem;
    font-weight: 500
}

.lm-overview .lm-overview__left .btn {
    margin-left: 1.6rem;
    margin-top: 1.2rem
}

.lm-overview .lm-overview__right {
    position: relative;
    transition: transform .5s ease-in-out;
    width: calc(100% - 20rem)
}

.lm-overview .lm-overview__right .lm-overview__image {
    box-shadow: 0 4px 24px rgba(0, 0, 0, .2);
    max-width: 45rem;
    min-width: 35rem;
    position: absolute;
    width: 75%;
    z-index: 2
}

.lm-overview .lm-overview__right .lm-overview__description {
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .17);
    font-size: .9rem;
    padding: 1.5rem 2rem;
    position: absolute;
    right: 1vw;
    top: 8vw;
    width: 18rem;
    z-index: 3
}

.lm-overview .lm-overview__right .lm-overview__bubbles {
    position: absolute;
    z-index: 1
}

.lm-overview .lm-overview__right .lm-overview__bubbles.lm-overview__bubbles__top {
    right: 3vw;
    top: -4vw;
    width: 18rem
}

.lm-overview .lm-overview__right .lm-overview__bubbles.lm-overview__bubbles__bottom {
    bottom: -8vw;
    right: calc(20vw + 4rem);
    width: 18rem
}

@media (max-width:950px) {
    .lm-overview {
        margin-bottom: 6rem;
        padding: 0;
        width: 100%
    }

    .lm-overview .el-collapse {
        margin: 0 2rem;
        width: 100%
    }

    .lm-overview .el-collapse .el-collapse-item__header {
        font-weight: 400;
        font-size: 1.1rem;
        padding: .3rem 1.25rem .3rem 1.6rem
    }

    .lm-overview .el-collapse .el-collapse-item__header.is-active {
        border-left: 8px solid #12a6ad;
        padding-left: 1rem;
        font-weight: 500
    }

    .lm-overview .el-collapse .el-collapse-item__content {
        padding-bottom: .8rem
    }

    .lm-overview .el-collapse .lm-overview__right {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .lm-overview .el-collapse .lm-overview__right .lm-overview__image {
        left: 1rem;
        top: 1rem;
        margin: 1.4rem 0;
        min-width: unset;
        position: unset;
        width: 90%
    }

    .lm-overview .el-collapse .lm-overview__right .lm-overview__description {
        background: none;
        box-shadow: none;
        font-weight: 300;
        max-width: 45rem;
        padding: 1rem;
        position: unset;
        text-align: center;
        width: 90%
    }
}

.lm-growth {
    color: #fff;
    margin-bottom: 22rem
}

.lm-growth .lm-growth__inner {
    background-color: #3d3d3d;
    padding-top: 3rem;
    position: relative
}

.lm-growth .lm-growth__inner .lm-growth__top {
    display: flex;
    padding: 0 4rem
}

.lm-growth .lm-growth__inner .lm-growth__top .lm-growth__header {
    font-size: 3.8rem;
    line-height: 1.18;
    max-width: 30rem;
    min-width: 22rem;
    padding-right: 3rem
}

.lm-growth .lm-growth__inner .lm-growth__top .lm-growth__subheader {
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 1rem;
    max-width: 44rem
}

.lm-growth .lm-growth__inner .lm-growth__bubbles {
    width: 100%
}

.lm-growth .lm-growth__inner .lm-growth__logos {
    background-color: #fff;
    bottom: -10%;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .15);
    font-size: 1.3rem;
    left: 0;
    margin: 0 auto;
    max-width: 55rem;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    width: 64%;
    z-index: 1
}

@media (max-width:950px) {
    .lm-growth {
        margin-bottom: 24rem
    }

    .lm-growth .lm-growth__inner .lm-growth__top {
        align-items: center;
        flex-direction: column;
        padding: 0 2rem
    }

    .lm-growth .lm-growth__inner .lm-growth__top .lm-growth__header {
        font-size: 2.8rem;
        padding-bottom: 1rem;
        padding-right: 0;
        text-align: center
    }

    .lm-growth .lm-growth__inner .lm-growth__top .lm-growth__subheader {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        text-align: center
    }

    .lm-growth .lm-growth__inner .lm-growth__logos {
        bottom: -10%
    }
}

.lm-testimonial {
    box-shadow: 0 4px 24px rgba(0, 0, 0, .15);
    margin: 0 12% 6rem 26%;
    padding: 3rem 6rem;
    position: relative
}

.lm-testimonial .lm-testimonial__header {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: .8rem
}

.lm-testimonial .lm-testimonial__subheader {
    color: #12a6ad;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5
}

.lm-testimonial .lm-testimonial__image {
    left: -10.5rem;
    top: -8rem;
    position: absolute;
    width: 16rem;
    z-index: 2
}

.lm-testimonial .lm-testimonial__bubbles {
    position: absolute;
    right: -4.5rem;
    top: -6.5rem;
    width: 16rem;
    z-index: 1
}

@media (max-width:950px) {
    .lm-testimonial {
        margin: 0 12% 7rem;
        padding: 4rem 8% 2rem;
        margin-top: -10rem;
    }

    .lm-testimonial .lm-testimonial__header {
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 1rem;
        text-align: center
    }

    .lm-testimonial .lm-testimonial__subheader {
        font-size: 1.3rem;
        text-align: center
    }

    .lm-testimonial .lm-testimonial__image {
        margin-right: auto;
        margin-left: auto;
        margin-top: 4rem;
        left: 0;
        position: absolute;
        right: 0;
        top: -15.5rem;
        width: 16rem
    }

    .lm-testimonial .lm-testimonial__bubbles {
        top: -7.5rem;
        right: -4rem
    }
}

.lm-request {
    background-color: #3d3d3d;
    height: 100vh;
    text-align: center
}

.lm-request .logo {
    padding-top: 3rem;
    padding-bottom: 1.5rem
}

.lm-request .lm-request__inner {
    align-items: flex-start;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    padding: 0 1rem
}

.lm-request .lm-request__inner .lm-panel {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    color: #777;
    margin: 1rem 1rem 3rem;
    position: relative;
    text-align: left;
    width: 34rem
}

.lm-request .lm-request__inner .lm-panel .lm-panel__inner {
    padding: 0 2rem 1rem
}

.lm-request .lm-request__inner .lm-panel .lm-panel__inner h2 {
    border-bottom: 4px solid #12a6ad;
    display: inline-block;
    font-size: 1.6rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem
}

.lm-request .lm-request__inner .lm-panel .lm-panel__inner p {
    font-size: 1.1rem;
    font-weight: 300;
    padding: .8rem 0 1rem
}

.lm-request .lm-request__inner .lm-panel .lm-panel__inner ul {
    text-align: left;
    padding: 0;
    margin: 0
}

.lm-request .lm-request__inner .lm-panel .lm-panel__inner ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 0;
    line-height: 30px;
    font-size: 1.1rem;
    font-weight: 300
}

.lm-request .lm-request__inner .lm-panel .lm-panel__bubbles {
    position: absolute;
    right: -4rem;
    top: -5.6rem;
    width: 14rem;
    z-index: 1
}

.lm-request .lm-request__inner .lm-panel.invert {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    color: #fff
}

.lm-request .lm-request__inner .lm-panel.invert .lm-panel__inner {
    padding: .4rem 2rem 1rem
}

.lm-request .lm-request__inner .lm-panel.invert h1 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem
}

.lm-request .lm-request__success {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem
}

@media (max-width:950px) {
    .lm-request .lm-request__inner {
        align-items: center;
        flex-direction: column-reverse
    }

    .lm-request .lm-request__inner .lm-panel {
        width: calc(100% - 4rem) !important
    }

    .lm-request .lm-request__inner .lm-panel .lm-panel__inner h2 {
        font-size: 1.5rem
    }
}

.lm-plans {
    background-color: #3d3d3d;
    text-align: center;
    height: 18rem;
    margin-bottom: 80rem;
    padding: 4rem calc(50% - 27.5rem)
}

.lm-plans .lm-plans__header {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 1.5rem
}

.lm-plans .lm-plans__subheader {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    padding-bottom: 4rem
}

.lm-plans .lm-plans__options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 4rem
}

.lm-plans .lm-plans__options .lm-plan {
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .2);
    display: grid;
    flex-direction: column;
    font-weight: 300 !important;
    width: 17rem;
    margin-bottom: 3rem;
    padding: 1.5rem 1.5rem .8rem;
    position: relative
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__header {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: .5rem
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__subheader {
    font-size: .9rem;
    font-weight: 200;
    margin-bottom: 1rem
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__bubbles {
    position: absolute;
    right: -4.5rem;
    top: -6.5rem;
    width: 16rem;
    z-index: 1
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__contact {
    color: #12a6ad;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 1.2rem;
    text-decoration: none
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__features {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .5rem
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__feature-icon {
    font-size: 3rem;
    font-style: normal;
    line-height: 2.5rem;
    margin: 0
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__feature-icon:last-of-type {
    color: #3d3d3d;
    font-size: 2.8rem;
    margin-bottom: .2rem;
    opacity: .8
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__feature-description {
    font-size: .8rem;
    font-weight: 200;
    margin-bottom: 2rem
}

.lm-plans .lm-plans__options .lm-plan .btn {
    margin: 0 auto .5rem;
    text-decoration: none;
    width: 10rem
}

.lm-plans .lm-plans__options .lm-plan .lm-plan__trial {
    font-size: .8rem;
    font-weight: 200;
    margin-bottom: 1rem
}

.lm-plans .lm-faq .lm-faq__header {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 1.5rem
}

.lm-plans .lm-faq .el-collapse {
    width: 100%
}

.lm-plans .lm-faq .el-collapse .el-collapse-item__header {
    font-weight: 400;
    font-size: 1.1rem;
    padding: .3rem 1.25rem .3rem 1.6rem;
    text-align: left
}

.lm-plans .lm-faq .el-collapse .el-collapse-item__header.is-active {
    border-left: 8px solid #12a6ad;
    padding-left: 1rem;
    font-weight: 500
}

.lm-plans .lm-faq .el-collapse .el-collapse-item__content {
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem
}

.lm-plans .lm-faq .el-collapse .lm-faq__answer {
    font-size: 1rem;
    font-weight: 300;
    max-width: 45rem;
    padding: 1rem 1rem 1rem 1.8rem;
    text-align: left;
    width: 90%
}

.lm-plans .lm-faq .el-collapse .btn {
    margin: .5rem 2rem 1rem 1.8rem;
    width: 10rem
}

@media (max-width:950px) {
    .lm-plans {
        margin-bottom: 130rem;
        padding: 4rem 2rem
    }

    .lm-plans .lm-plans__subheader {
        padding-bottom: 3rem
    }

    .lm-plans .lm-plans__options {
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 1rem
    }

    .lm-plans .lm-faq .el-collapse .el-collapse-item__header {
        font-size: 1rem;
        line-height: 1.3
    }
}

.lm-privacy {
    background: #3d3d3d;
    color: #fff;
    padding: 1.5rem 4rem 3rem
}

.lm-privacy a {
    color: #12a6ad
}

.lm-privacy h1 {
    font-size: 1.8rem
}

.lm-privacy h2 {
    font-size: 1.3rem;
    padding-top: 1rem
}

.lm-privacy h3 {
    font-size: 1.1rem;
    padding-top: .5rem
}

.lm-privacy p {
    font-size: .95rem;
    font-weight: 200
}

.video-dialog {
    width: 100%;
    height: 80vh;
    padding: 0 40rem 0 0;
    margin: auto
}

@media (max-width:950px) {
    .video-dialog {
        height: 63vh
    }
}

.video-dialog .el-dialog {
    width: 39rem
}

@media (max-width:950px) {
    .video-dialog .el-dialog {
        width: 25rem
    }
}

.video-dialog .el-dialog__header {
    padding: 0
}

.video-dialog .el-dialog__body {
    padding: 0;
    height: 0
}

.video-player {
    width: 39rem;
    height: 22rem
}

@media (max-width:950px) {
    .video-player {
        width: 25rem;
        height: 14.1rem
    }
}